<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
  <head><title>Table of contents</title></head>
  <body><nav xmlns="http://www.w3.org/1999/xhtml" class="book" epub:type="toc">
<ol>
<% @items.each do |item| %>
  <li><a href="<%= item.identifierref %>.html"><%= item.title %></a></li>
<% end %>
</ol>
</nav></body>
</html>